h1 {
    text-align: center;
    color: red;
    background-color: aqua;
}
#estilodark {
    background-color: darkblue;
    color: beige;
    height: 60px;                        
}
.estilosuave{
    background-color: rgb(181, 181, 194);
    color: rgb(70, 70, 69);
    height: 40px;                        
}