<!-- INICIO CABECERA  -->





<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<!-- Material Icons -->


<!-- Bootstrap CSS -->




<div id="normas">
    <div class="accordion" id="accordionExample">



        <!-- Consulta general de la materia -->
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Consulta general de la materia
          </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                    <a href="https://forms.gle/oPFp4ovukasGB7ei7" class="btn btn-success" role="button" target="_blank">Consulta sobre la materia</a>

                </div>
            </div>
        </div>


        <!--  Programa y planificacion de proyecto formativo -->
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapseOne">
            planificacion de proyecto formativo
          </button>
                </h2>
            </div>

            <div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                    <h2>Estructura del Proyecto Formativo</h2>

                    <ol>
                        <li>
                            <h3>Portada</h3>
                            <ul>
                                <li>Universidad</li>
                                <li>Facultad</li>
                                <li>Logotipo de la UPDS</li>
                                <li>Título del proyecto</li>
                                <li>Asignatura</li>
                                <li>Nombre del estudiante</li>
                                <li>Nombre del docente</li>
                            </ul>
                        </li>

                        <li>
                            <h3>Resumen</h3>
                            <ul>
                                <li>Deberá tener un máximo de 300 palabras</li>
                            </ul>
                        </li>

                        <li>
                            <h3>Abstract</h3>
                            <ul>
                                <li>Es el resumen, pero en inglés</li>
                            </ul>
                        </li>

                        <li>
                            <h3>Desarrollo</h3>
                            <ul>
                                <li>Marco Teórico (mínimo 3 páginas)</li>
                                <li>Proyecto:
                                    <ul>
                                        <li>Instalación de librerías y versiones de las mismas</li>
                                        <li>Diseño del proyecto</li>
                                        <li>Explicación de las funcionalidades más importantes</li>
                                        <li>Código Fuente (proporcionar link a GitHub, GitLab o un repositorio en la nube)</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <h3>Conclusión</h3>
                            <ul>
                                <li>Debe tener un máximo de 300 palabras</li>
                            </ul>
                        </li>

                        <li>
                            <h3>Bibliografía</h3>
                        </li>
                    </ol>

                    <h2>Protocolo para la exposición</h2>

                    <ol>
                        <li>Presentación del Proyecto Formativo:
                            <ul>
                                <li>Entregar al docente una copia en físico (no engrampar, entregar en un folder)</li>
                                <li>El documento debe incluir el nombre de todos los participantes</li>
                                <li>Lectura del Abstract en inglés</li>
                            </ul>
                        </li>

                        <li>Exponer el proyecto con una diapositiva (10 a 15 minutos):
                            <ul>
                                <li>5 minutos para la teoría</li>
                                <li>5 minutos para la práctica</li>
                                <li>5 minutos para preguntas</li>
                            </ul>
                        </li>

                        <li>Publicación de la nota según la rúbrica de la plataforma</li>
                    </ol>





                </div>
            </div>
        </div>


        <!-- NORMAS DE CLASE -->

        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapseOne">
            Planificacion de clases sincronas
          </button>
                </h2>
            </div>

            <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">


                 
                </div>
            </div>
        </div>

        <!-- NORMAS DE CLASE -->
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapseOne">
            Normas de clase
          </button>
                </h2>
            </div>

            <div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">


                    <div class="container mt-5">
                        <h3 class="my-4">
                            <ol class="list-group">
                                <li class="list-group-item list-group-item-primary">Respeto mutuo entre todos los miembros del aula</li>
                                <li class="list-group-item list-group-item-secondary">Evitar interrupciones cuando alguien está hablando</li>
                                <li class="list-group-item list-group-item-success">Participación activa en todas las actividades</li>
                                <li class="list-group-item list-group-item-danger">Puntualidad en todas las sesiones</li>
                                <li class="list-group-item list-group-item-warning">Evitar el uso de móviles durante la clase</li>
                                <li class="list-group-item list-group-item-info">Mantener el aula limpia y ordenada</li>
                                <li class="list-group-item list-group-item-light">Realizar todas las tareas y trabajos asignados</li>
                                <li class="list-group-item list-group-item-dark">Estudiar y prepararse para cada sesión</li>
                                <li class="list-group-item list-group-item-primary">Trabajar en equipo y ayudar a los compañeros</li>
                                <li class="list-group-item list-group-item-secondary">Mantener una actitud positiva y constructiva</li>
                            </ol>
                        </h3>
                    </div>



                </div>
            </div>
        </div>

        <!-- TUTORIALES -->
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapseOne">
            Tutoriales de office 635 y plataforma
          </button>
                </h2>
            </div>

            <div id="collapse5" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <!-- Button -->
                    <a href="https://sites.google.com/view/comunicacion-upds/inicio" target="_blank" class="btn btn-primary btn-lg">Office 365</a>
                </div>
            </div>
        </div>






    </div>

</div>


<!-- FIN -->
<script>
    new Vue({
        el: '#normas',
    })
</script>