<template>
  
  <div id="app">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

      <a href="" class="btn btn-success">fdsfdsf</a>
      <h1>Calculadora</h1>
      <HelloWorld msg="holaaa"/>

      <Caja mensaje="dfsfsd" fondo="#409"/>
      <Caja mensaje="HOla" fondo="#4589"/>
      <Caja mensaje="Mundo" fondo="#45FF89"/>
      <Caja mensaje="UPDS" fondo="#ffaa00"/>
      
      
    
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import Caja from './components/Caja01.vue'

export default {
  name: 'App',
  components: {
    HelloWorld,
    Caja
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
