<!-- INICIO CABECERA  -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    
    <div id="cabecera">

        <h1 class="h1 bg-dark text-warning m-3">
            {{ proyecto }}
        </h1>
    
        <div class="container">
    
            <div class=" m-2 bg-info">
    
                <!-- Link imagen -->
                <img src="https://live.staticflickr.com/65535/53026343388_28e19e548b_h.jpg" class="img-fluid" alt="Responsive image">
            </div>
    
            <div class="card-body">
    
                <a class="btn btn-info" href="https://slides.com/jaimezambranachacon/bold/fullscreen" target="_blank">PRESENTACIÓN DOCENTE&nbsp;</a>
    
                <!-- Facebook -->
                <a href="https://www.facebook.com/zambranachaconjaime" target="_blank" class="m-2 btn btn-warning">
                        <img src="https://sites.google.com/site/geoespacio/_/rsrc/1486858388107/home/LOGOFACE.png" alt="" height="50px">    
                    </a>
    
                <!-- TikTok -->
                <a href="https://www.tiktok.com/@jaimezambranachacon?lang=es" target="_blank" class="m-2 btn btn-warning">
                        <img src="https://1.bp.blogspot.com/-fgquJfNuK0I/XyA_1oXBkDI/AAAAAAAAL28/edvRV8ZssZA7cBLTssI5329s9kbu2z0OQCLcBGAsYHQ/s516/tiktok%2BSIN%2BFONDO.png" alt="" height="50px">
                    </a>
    
    
                <!-- Canal de Youtube -->
                <a href="https://youtube.com/tecnoprofe" target="_blank" class="m-2 btn btn-warning">
                        <img src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2019/03/01/15514341872685.jpg" alt="" height="50px">
                    </a>
    
                <!-- GitLab -->
                <a href="https://gitlab.com/tecnoprofe" target="_blank" class="m-2 btn btn-primary">
                        <img src="https://ubunlog.com/wp-content/uploads/2018/06/GitLab_logo.png" alt="" height="50px">
                    </a>
    
    
    
    
                <!-- TITULO DE ASIGNATURA -->
                <div>
                    <h1>
                        <strong>{{ materia }}</strong>
                    </h1>
                    <h5>
                        <!-- GRUPO DE WHATSAPP-->
                        <a data-flickr-embed="true" target="_blank" :href="whatsapp" title="whatsapp"><img src="https://live.staticflickr.com/65535/51019699593_52a470b061_m.jpg" alt="whatsapp" width="201" height="85"></a>
                        <!-- ZOOM -->
                        <a data-flickr-embed="true" target="_blank" :href="zoom" title="zoom"><img src="https://live.staticflickr.com/65535/51020459231_d74564944b_m.jpg" alt="zoom" width="240" height="105"></a> {{ dias }}
                    </h5>
                </div>
    
            </div>
    
    
            <div>
                <p><b>Problema del contexto: </b></p>
            </div>
            <div>
                <p>{{contexto}}<br></p>
            </div>
        </div>
    </div>
    <!-- FIN -->
    <script>
        new Vue({
            el: '#cabecera',
            data: {
                materia: 'Programación i',
                proyecto: 'Realización de reconocedor imagenes utilizando matrices de numpy',
                contexto: 'El estudio de la programación para solucionar una gran cantidad de desafíos, desde la automatización de tareas rutinarias hasta el impulso de la eficiencia empresarial, y la creación de aplicaciones interactivas avanzadas. Se convierte en el enfoque principal de nuestra asignatura Programación I. Esta materia está diseñada para brindarte una sólida base en las habilidades y técnicas de programación que te permitirán no solo entender, sino también transformar el mundo digital que nos rodea.',
                dias: 'LU, MAR, MIE, JUE y VIE de 19:00 a 22:00.',
                whatsapp: 'https://chat.whatsapp.com/LLNGgT5VYgsHWQ9VrlSrvx',
                zoom: 'https://us02web.zoom.us/j/84229928958?pwd=VU4rRnAwRlExaXFFUWoxYzk5K0Y3QT09',
                idypassword: 'ID:842 2992 8958 y clave: 123456789'
            }
        })
    </script>
    


</body>
</html>


<!-- FIN CABECERA  -->