<!DOCTYPE html>
<html>
<head>
  <title>Programación Básica</title>
  <!-- CDN de Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

  <!-- CDN de Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
</head>
<body>
  <div id="app" class="container mt-5">
    <div class="list-group">
      <a 
        v-for="(link, index) in links" 
        :key="index" 
        :href="link.url" 
        target="_blank" 
        class="list-group-item list-group-item-action">
        {{ link.title }}
      </a>
    </div>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        links: [
          { title: 'Introducción a la Programación', url: 'https://es.khanacademy.org/computing/computer-programming/programming/intro-to-programming/v/programming-intro' },
          { title: 'Conceptos Básicos de Programación', url: 'https://es.khanacademy.org/computing/computer-programming/programming' },
          { title: 'Funciones', url: 'https://es.khanacademy.org/computing/computer-programming/programming/functions' },
          { title: 'Estructuras de Datos', url: 'https://es.khanacademy.org/computing/computer-programming/programming/arrays' },
          { title: 'Algoritmos Básicos', url: 'https://es.khanacademy.org/computing/computer-programming/programming/algorithms' },
          { title: 'Depuración y Pruebas', url: 'https://es.khanacademy.org/computing/computer-programming/programming/debugging' },
        ]
      }
    })
  </script>
</body>
</html>
