<!DOCTYPE html>
<html>
<head>
    <title>Vista única en Vue.js</title>
    <script src="https://unpkg.com/vue@2"></script>
    <style>
        .hidden { display: none; }
    </style>
</head>
<body>
    <div id="app">
        <button v-for="page in pages" v-on:click="currentPage = page.name">
            {{ page.name }}
        </button>

        <div v-for="page in pages" v-bind:class="{ hidden: currentPage !== page.name }" v-html="page.content">
            <!-- El contenido personalizado de la página se inyectará aquí -->
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                pages: [
                    { name: 'Home', content: '<h1>Bienvenido a la página de inicio</h1><p>Este es el contenido de la página de inicio.</p>' },
                    { name: 'About', content: '<h1>Sobre nosotros</h1><p>Este es el contenido de la página sobre nosotros.</p>' },
                    { name: 'Contact', content: '<h1>Contacto</h1><p>Este es el contenido de la página de contacto.</p>' }
                ],
                currentPage: 'Home'
            }
        });
    </script>
</body>
</html>
