<!DOCTYPE html>
<html>
<head>
    <title>SPA en Vue.js y Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
    <div id="app1">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#" v-for="page in pages" v-on:click.prevent="currentPage = page">{{ page }}</a>
                </div>
            </div>
        </nav>

        <div v-if="currentPage === 'Consulta general de la materia'">
            <h1>sdsd</h1>
        </div>

        <div v-if="currentPage === 'Programa y planificacion de proyecto formativo'">
            <h1>sdsdfff</h1>
            <!-- ... -->
        </div>

        <div v-if="currentPage === 'Planificacion de clases sincronas'">
            <!-- Aquí va el contenido de la página 'Planificacion de clases sincronas' -->
        </div>

        <div v-if="currentPage === 'Normas de clase'">
            <!-- Aquí va el contenido de la página 'Normas de clase' -->
        </div>

        <div v-if="currentPage === 'Tutoriales de office 365 y plataforma'">
            <!-- Aquí va el contenido de la página 'Tutoriales de office 365 y plataforma' -->
        </div>
    </div>

    <script>
        new Vue({
            el: '#app1',
            data: {
                pages: [
                    'Consulta general de la materia',
                    'Programa y planificacion de proyecto formativo',
                    'Planificacion de clases sincronas',
                    'Normas de clase',
                    'Tutoriales de office 365 y plataforma'
                ],
                currentPage: 'Consulta general de la materia'
            }
        });
    </script>            
</body>
</html>
