




<body>

  <div id="app" class="container mt-5">
    <div class="list-group">
      <a 
        v-for="(link, index) in links" 
        :key="index" 
        :href="link.url" 
        target="_blank" 
        class="list-group-item list-group-item-action">
        {{ link.title }}
      </a>
    </div>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        links: [
        { title: 'Introducción a Python', url: 'https://www.codecademy.com/learn/learn-python-3' },
          { title: 'Funciones en Python', url: 'https://www.w3schools.com/python/python_functions.asp' },
          { title: 'Estructuras de Datos en Python', url: 'https://docs.python.org/3/tutorial/datastructures.html' },
          { title: 'Python para Ciencia de Datos', url: 'https://www.datacamp.com/courses/introduction-to-data-science-in-python' },
          { title: 'Algoritmos en Python', url: 'https://www.geeksforgeeks.org/python-programming-examples/' },
          { title: 'Depuración y Pruebas en Python', url: 'https://realpython.com/python-debugging-pdb/' },
        ]
      }
    })
  </script>
</body>
</html>
