<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <title>VUE</title>
</head>
<body>
    
    <div id="app">
        <h1> ticket </h1>

        <h3>Numero de ticket: {{numero}}</h3>

        <button type="button" v-on:click="aumentar_contador">NUEVO TICKET</button>

    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                numero: 1,
                nombre:"hola",
                fecha:"26 de julio"
            },
            methods: {
                aumentar_contador: function () {
                    this.numero=this.numero+1
                }
            },

        })

    </script>
</body>
</html>