<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    

      <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>


    <title>Document</title>
</head>
<body>

    <div id="ejemplo">
        
        <input type="text" name="" id="" v-model="x">
        <input type="text" name="" id="" v-model="y">
        <button v-on:click="saludo">saludo</button>
        {{ parseInt(x) +parseInt(y)}}
    </div>
    

    <script>        
        var app = new Vue(
        {
            el: '#ejemplo',            
            data: {
                x:0,
                y:0,
                h:9
            },
            methods: {
                resolver(){
                   this.resultado= parseInt(this.variable2) + parseInt(this.variable3) ;
                },
                saludo(){
                    alert(parseInt(this.x) +parseInt(this.y));
                }
            }
        });
    </script>

    <div id="aplicacion">                       
        <input type="text" v-model="variable2">
        <input type="text" v-model="variable3">
        <button v-on:click="resolver" >ecuación 2do grado</button>
        <label for="">resulado={{ resultado }}</label>                        

    </div>

     <!-- Option 1: Bootstrap Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <script>
        var app = new Vue({
            el: '#aplicacion',
            data: {
                variable1:'holaaaa',
                variable2: 100,
                variable3:5,
                resultado:0,
            },
            methods: {
                resolver(){
                   this.resultado= parseInt(this.variable2) + parseInt(this.variable3) ;
                }
            },
        })
    </script>


</body>
</html>