<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>calculadora</title>
</head>
<body>

    <div class="container" id="aplicacion">

      <div class="row">
        <div class="col-md-4">
          <label class="form-label">{{ historial }}</label>
          <input type="text" class="form-control" v-model="valores">
        </div>        
      </div>
      

        <div class="row">
          
          <div class="col-md-1">
            <button type="button" @click="acumularvalor('7')" class="btn btn-outline-primary "><h1>7</h1> </button>
          </div>
          <div class="col-md-1">
            <button type="button" @click="acumularvalor('8')" class="btn btn-outline-primary"><h1>8</h1> </button>
          </div>
          <div class="col-md-1">
            <button type="button" @click="acumularvalor('9')" class="btn btn-outline-primary"><h1>9</h1> </button>
          </div>
          <div class="col-md-1">
            <button type="button" @click="acumularvalor('*')" class="btn btn-outline-primary"><h1>X</h1> </button>
          </div>
        </div>    
        <div class="row">
          
          <div class="col-md-1">
            <button type="button" class="btn btn-outline-primary"><h1>4</h1> </button>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-outline-primary"><h1>5</h1> </button>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-outline-primary"><h1>6</h1> </button>
          </div>
          <div class="col-md-1">
            <button type="button"  @click="acumularvalor('-')" class="btn btn-outline-primary"><h1>-</h1> </button>
          </div>
        </div>   
        <div class="row">
          
          <div class="col-md-1">
            <button type="button" class="btn btn-outline-primary"><h1>1</h1> </button>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-outline-primary"><h1>2</h1> </button>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-outline-primary"><h1>3</h1> </button>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-outline-primary"><h1>+</h1> </button>
          </div>
        </div>  
        <div class="row">
          
          <div class="col-md-1">
            <button type="button" class="btn btn-outline-primary"><h1>+/-</h1> </button>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-outline-primary"><h1>0</h1> </button>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-outline-primary"><h1>,</h1> </button>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-outline-primary"><h1>=</h1> </button>
          </div>
        </div>
    </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

      <script>
        var app = new Vue({
            el: '#aplicacion',
            data: {
                historial:'',
                valores:"0",                
            },
            methods: {
                acumularvalor(v){
                  if(v>='0' && v<='9'){                    
                    this.valores=this.valores+v;
                  }
                  else{
                    if(v=="*"){
                      this.historial=this.historial+this.valores+"*";
                      this.valores="0";
                    }
                    if(v=="-"){
                      this.historial=this.historial+this.valores+"-";                      
                      this.valores="0";
                    }
                  }
                  
                }
            },
        })
    </script>
</body>
</html>

