<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <h2>Lista de invetario</h2>
        <ul>
            <li v-for="inventario in inventarios" > {{inventario.name}}</li>            
        </ul>

        <h1>lista de productos</h1>
        <ul>
            <li v-for="producto in productos" > {{producto.name}}</li>            
        </ul>
    </div>

    <script>
        new Vue({
            el:"#app",
            data:{
                productos:[],
                inventarios:[],
            },
            mounted() {
                axios.get('http://127.0.0.1:8000/api/inventarios')
                .then(response=>{this.inventarios=response.data;});
                
                axios.get('http://127.0.0.1:8000/api/productos')
                .then(response=>{this.productos=response.data;});
                

            },
        });

    </script>
    
</body>
</html>