<template>
    <div>
        <h1 @click="cambiarcolor" class="cajaestilo" :style="variable1">{{mensaje}}</h1>
        {{variable1}}
    </div>   
</template>

<script>
export default {  
  props: {    
    mensaje:String,
    fondo:String
  },
  data () {
    return { 
        variable1:"background:green;"
    }
  },
  
  methods: {
    cambiarcolor(){
        this.variable1="background:"+this.fondo;
    }   
  }    
}
</script>
<style>
  .cajaestilo{      
      border: solid 5px royalblue;
      width: 300px;
      height: 150px;      
  }
</style>
