<template>
  <div>
    {{msg}}
    <input type="text" name="" id="" v-model="r">  
    <br>  
    <button class="btn btn-info" @click="pantalla('1')">1</button>
    <button class="cuadrado" @click="pantalla('2')">2</button>
    <button class="cuadrado" @click="pantalla('3')">3</button>
    <button class="cuadrado" @click="pantalla('+')">+</button>
    <br>
    <button class="cuadrado" @click="pantalla('4')">4</button>
    <button class="cuadrado" @click="pantalla('5')">5</button>
    <button class="cuadrado" @click="pantalla('6')">6</button>
    <button class="cuadrado" @click="pantalla('-')">-</button>
    <br>
    <button class="cuadrado" @click="pantalla('7')">7</button>
    <button class="cuadrado" @click="pantalla('8')">8</button>
    <button class="cuadrado" @click="pantalla('9')">9</button>
    <button class="cuadrado" @click="pantalla('*')">*</button>
    <br>
    <button class="cuadrado" @click="pantalla('0')">0</button>
    <button class="cuadrado" @click="pantalla('.')">.</button>
    <button class="cuadrado" @click="reducir">Del</button>
    <button class="cuadrado" @click="pantalla('/')">/</button>
    <br>
    <button class="calculo" @click="calcular">=</button>
    <button class="cuadrado" >Cls</button>

  </div>  
</template>

<script>
export default {
  name: 'TECNOPROFE',
  props: {
    msg: String
  },
  data () {
    return {
      a: 9,
      b:9,
      r:'',  
    }
  },
  methods: {
    pantalla(variable) {
      this.r=this.r+ variable
    },
    calcular(){
       this.r=eval(this.r);
    },
    reducir(){
      
      var aux="";
      for(let i=0;i<this.r.length-1;i++){
        aux=aux+this.r[i]        
      }    
      this.r=aux;  
      
    }
  
  }    
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .calculo{
      width: 150px; 
      height: 50px; 
      background: #000011;
      border: rgb(226, 226, 58) solid 2px;
      margin: 0px 0px 5px 0px;
      padding: 30px;
      color: thistle;
  }
  .cuadrado{
      width: 50px; 
      height: 50px; 
      background: #000011;
      border: rgb(226, 226, 58) solid 2px;
      margin: 0px 0px 5px 0px;
      padding: 30px;
      color: thistle;
  }
</style>
