<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Vue ejercicio 01</title>
    <!-- VUE JS-->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    
</head>
<body>
    <!-- Cuerpo de HTML pero con vue -->
    <!-- INICIO -->        
    <div id="aplicacion">                
        <center>
            <h1>Empresa de Comida Rapida.</h1>
            <div class="card" style="width: 18rem;">
                <img src="https://pbs.twimg.com/media/FNlPP_pXsAA3sF4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Delivery</h5>
                <p class="card-text">Elija su plato de comida</p>                

                <!-- cantidad de platos -->
                <div class="input-group mb-3">                    
                    <span class="input-group-text">Cantidad</span>
                    <input type="number" v-model="cantidad" class="form-control" @change="calculo2">
                </div>

                <!-- platos de comida -->  
                <div class="input-group mb-3">
                    <button class="btn btn-outline-secondary" type="button">Plato</button>
                    
                    <select class="form-select" @change="calculo($event)">                        
                        <option v-for="plato in platos" v-bind:value="plato.id" >                            
                            {{plato.nombre}} a {{plato.precio}} Bs.-
                        </option>           
                        
                    </select>
                </div>


                <!-- Boton pedido -->
                <div class="input-group mb-3"> 
                    <button class="btn btn-primary form-control">Costo: {{total}}</button>
                </div>
            </div>
        </center>

    </div>
    <!-- FIN -->        
    <!-- Java Script -->
    <script>
        Vue.createApp({
            data() {
                return {
                    mensaje: 'Restaurand Brasangert',
                    saludo:"Hola Chicos!!",
                    cantidad:0,                    
                    total:0,                    
                    platos:[
                        {id:0,nombre:"Churrasquito Junior",precio:"50"},
                        {id:1,nombre:"Bife Chorizo",precio:"80"},
                        {id:2,nombre:"Punta de S",precio:"75"},
                        {id:3,nombre:"Cuadril",precio:"78"},
                        {id:4,nombre:"Pique Macho",precio:"65"},
                        {id:5,nombre:"Almuerzo Completo PREMIUM",precio:"100"},
                    ],
                    id:0
                }
            },
            methods: {                
                calculo(event) {
                    this.id=event.target.value;                    
                    this.total=this.platos[this.id].precio*this.cantidad;                    
                },
                calculo2(){                    
                    this.total=this.platos[this.id].precio*this.cantidad;
                }                
            },                                        
        }).mount('#aplicacion')
    </script>
</body>
</html>