<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Vue ejercicio 02</title>
    <!-- VUE JS-->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    
</head>
<body>
    <!-- Cuerpo de HTML pero con vue -->
    <!-- INICIO -->        
    <div id="aplicacion">                
        <center>
            <h1>Propiedades Computadas</h1>
            <div class="card" style="width: 28rem;">
                <img src="https://1.bp.blogspot.com/-KRYtvD8_4Vo/WQIdxn-xdGI/AAAAAAAADIg/xQOnsMjkWEAzaJlOjZXD2zyUfXYqdUJQgCLcB/w1200-h630-p-k-no-nu/a.png" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Ecuación de 2do grado</h5>                

                <!-- A -->
                <div class="input-group mb-3">                    
                    <span class="input-group-text">A</span>
                    <input type="number" v-model="variable_a" class="form-control">
                </div>

                <!-- B -->
                <div class="input-group mb-3">                    
                    <span class="input-group-text">B</span>
                    <input type="number" v-model="variable_b" class="form-control">
                </div>

                <!-- C -->
                <div class="input-group mb-3">                    
                    <span class="input-group-text">C</span>
                    <input type="number" v-model="variable_c" class="form-control">
                </div>
                         
               <p class="btn btn-warning form-control" v-if="determinante>0">
                  Ecuación: {{ecuacion}} <br>
                  Determinante={{determinante}} <br> 
                  X1={{x1}} <br>
                  X2={{x2}} <br>
               </p>
               <p class="btn btn-danger form-control" v-else>
                   No hay solución
               </p>

            </div>
        </center>

    </div>
    <!-- FIN -->        
    <!-- Java Script -->
    <script>
        Vue.createApp({
            data() {
                return {
                    variable_a:3,
                    variable_b:4,
                    variable_c:2, 
                    ecuacion:""                   
                }
            },
            computed: {
                determinante(){
                    this.ecuacion=this.variable_a+"x^2+"+this.variable_b+"x+"+this.variable_c+"=0"
                    return this.variable_b*this.variable_b-4*this.variable_a*this.variable_c
                },
                x1(){
                    return ((-this.variable_b+Math.sqrt(this.determinante))/(2*this.variable_a)).toFixed(2)
                },
                x2(){
                    return ((-this.variable_b-Math.sqrt(this.determinante))/(2*this.variable_a)).toFixed(2)
                },
            }                                       
        }).mount('#aplicacion')
    </script>
</body>
</html>