<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Vue ejercicio 01</title>
    <!-- VUE JS-->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    
    <style>
        .estilo01{
            position: absolute;
            color: 'red';            
            font-size: 23px;            
            background:blue;
            border:solid 10px yellow;
            margin: 10px;
            padding: 15px;
            width: 250px;
            height: 100px;
        }
    </style>
</head>
<body>
    <!-- Cuerpo de HTML pero con vue -->
    <!-- INICIO -->        
    <div id="aplicacion">                
        <center>
            <!-- v-bind:draggable == :draggable -->
            <!-- <h1 class="estilo01" :draggable="encendido" :style="estilodependiendo"
                @mousedown="inicioDrag" @mousemove="moviendoDrag" @mouseup="finDrag">
                CAJA MOVIBLE. {{mensaje}}
            </h1> -->

            <h1 class="estilo01" :draggable="encendido" :style="{'left':moverX+'px', 'top':moverY+'px'}"
                @drag="moviendoDrag" @dragend="finDrag" @mousedown="inicioDrag">
                CAJA MOVIBLE. {{mensaje}}
            </h1>
                
            <input type="checkbox" name="habilitar" value="other" v-model="encendido">
                  

            <div :style="{ 'font-size': tamaño_letra + 'px' }">
                {{mensaje}}
            </div>

            <input type="range" v-model="tamaño_letra">
            <br>
            <h2>X y Y original, con e clic</h2>
            X: {{auxx}} <br>
            Y: {{auxy}} <br>
            <h2>X y Y original, con e clic</h2>
            X: {{x}} <br>
            Y: {{y}} <br>
            <h2>X y Y Movimiento</h2>
            X: {{moverX}} <br>
            Y: {{moverY}} <br>
            <h2>FINAL</h2>
            X: {{finalx}} <br>
            Y: {{moverY}} <br>

        </center>

    </div>
    <!-- FIN -->        
    <!-- Java Script -->
    <script>
        Vue.createApp({
            data() {
                return {
                    auxy:0,
                    auxx:0,
                    y:0,
                    x:0,
                    moverX:10,
                    moverY:10,
                    finalx:0,
                    finaly:0,
                    presionado:true,
                    encendido:true,
                    tamaño_letra:30,
                    colores: 'green',
                    hasError: false,
                    mensaje:"",                    
                }
            },
            methods:{   
                inicioDrag(evento){
                    this.auxx=evento.clientX
                    this.auxy=evento.clientY
                },          
                moviendoDrag(evento){  
                    this.presionado=true
                    //var xx=evento.clientX
                    this.x=evento.clientX           
                    this.y=evento.clientY
                    this.finalx= this.x-this.auxx
                },
                finDrag(evento){
                    this.moverX=evento.clientX
                    this.moverY=evento.clientY
                }
            },                                                 
        }).mount('#aplicacion')
    </script>
</body>
</html>
