<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecuación de 2do grado</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    
    <div id="aplicacion">
        <h1>{{mensaje}} </h1>
        <h1 style="color: blue;">Ecuación de 2do grado</h1>
        <br>
        <label for="">A</label>
        <input type="text" v-model="a" >
        <br>
        <label for="">B</label>
        <input type="text" v-model="b" >
        <br>
        <label for="">C</label>
        <input type="text" v-model="c" >
        <br>
        <h2>Discriminante {{(b*b)-(4*a*c)}}</h2>          
        <div v-if="((b*b)-(4*a*c))>=0 && a!=0">
            <h2>Raiz {{ Math.sqrt((b*b)-(4*a*c))}}</h2>         
            <h3>X1 {{ (-b + Math.sqrt((b*b)-(4*a*c)))/(2*a) }}</h3>
            <h3>X2 {{ (-b - Math.sqrt((b*b)-(4*a*c)))/(2*a) }}</h3>            
        </div>       
        <div v-else>
            <h1 style="color: azure;background: red;">SOLUCIONES IMAGINARIAS o DIVISIÓN POR CERO</h1>
        </div>
    </div> 

    <script>
        new Vue({
            el: '#aplicacion',
            data: {
                mensaje: 'HOla MUNDO...',
                a:9,
                b:5,
                c:2
            }
        }) 
    </script>    
</body>
</html>