<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    
  <div id="app">
    <h1>Lista de Elementos</h1>
    
    <div>
        <label for="filtro">Filtrar por nombre:</label>
        <input type="text" id="filtro" v-model="filtro">
    </div>

    <div>
        <label for="orden">Ordenar por nombre:</label>
        <select id="orden" v-model="orden">
            <option value="asc">Ascendente</option>
            <option value="desc">Descendente</option>
        </select>
    </div>
    
    <ul>
        <li v-for="elemento in elementosFiltradosYOrdenados" :key="elemento.id">{{ elemento.nombre }}</li>
    </ul>

    {{suma(2,4)}}
</div>

<script>
const app = Vue.createApp({
    data() {
        return {
            filtro: '',
            orden: 'asc', // Puede ser 'asc' o 'desc'
            elementos: [
                { id: 1, nombre: 'Elemento 1' },
                { id: 2, nombre: 'Elemento 2' },
                { id: 3, nombre: 'Elemento 3' },
                // Agrega más elementos aquí
            ]
        };
    },
    mounted() {
        
    },
    methods: {
        
    },
    computed: {
        elementosFiltradosYOrdenados() {
            const elementosFiltrados = this.elementos.filter(elemento => {
                return elemento.nombre.toLowerCase().includes(this.filtro.toLowerCase());
            });

            if (this.orden === 'asc') {
                return elementosFiltrados.sort((a, b) => a.nombre.localeCompare(b.nombre));
            } else if (this.orden === 'desc') {
                return elementosFiltrados.sort((a, b) => b.nombre.localeCompare(a.nombre));
            }

            return elementosFiltrados;
        }
        ,
        suma(q,b){
            return q+b
        }
    }
});

app.mount('#app');
</script>

</body>
</html>