<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    
  <div id="app">
    <form @submit.prevent="enviarComentario">
      <input type="text" v-model="nuevoComentario">
      <button type="submit">Enviars</button>
    </form>
    <div v-if="comentario">
      Último comentario: {{ comentario }}
    </div>
    <div v-else>
      No hay nada.
    </div>

  </div>


<script>
  const { createApp } = Vue;
  createApp({
    data() {
      return {
        nuevoComentario: '',
        comentario: null,
      };
    },
    methods: {
      enviarComentario() {
        this.comentario = this.nuevoComentario;
        this.nuevoComentario = '';
      }
    }
  }).mount('#app');
</script>

</body>
</html>