<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    
    <div id="app">
        <h3>{{ contador }}</h3>
        <button @click="incrementarContador">Incrementar</button>
    </div>

    <script>
        const { createApp } = Vue;
        createApp({
  
          data() {
            return {
              contador: 0
            };
          },
          methods: {
            incrementarContador() {
              this.contador=this.contador+2;
            }
          }
        }).mount('#app');
      </script>  
</body>
</html>