<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    
  <div id="app">
    <h1>Lista de Elementos</h1>
    
    <input type="text" v-model="filtro" placeholder="Filtrar por nombre">
    
    <ul>
        <li v-for="elemento in elementosFiltrados" :key="elemento.id">{{ elemento.nombre }}</li>
    </ul>
  </div>

<script>
  const app = Vue.createApp({
    data() {
        return {
            filtro: '',
            elementos: [
                { id: 1, nombre: 'Elemento 1' },
                { id: 2, nombre: 'Elemento 2' },
                { id: 3, nombre: 'Elemento 3' },
                { id: 4, nombre: 'Otro Elemento' },
                { id: 5, nombre: 'Algo más' },
                { id: 6, nombre: 'Alguito más' }
            ]
        };
    },
    computed: {
        elementosFiltrados() {
            return this.elementos.filter(elemento => {
                return elemento.nombre.toLowerCase().includes(this.filtro.toLowerCase());
            });
        }
      }
  });

  app.mount('#app');
</script>

</body>
</html>