<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    
  <div id="app" >
   <input  type="text" v-model="a">
   <input  type="text" v-model="b">
   <br>
    <label>resultado: {{resultado}}</label>
    <br>
   <button @click="sumar">+</button>
   <button @click="restar">-</button>
   <button @click="multiplicacion">*</button>
   <button @click="division">/</button>
    <br>
   <input  type="color"v-model="objeto">
</div>

<script>
const app = Vue.createApp(
{
    data() {
        return {
         a: 0,
         b: 3,
         objeto: "#005caa",
         resultado: 0,
        };
    },    

    methods:{
      sumar() {
        this.resultado=parseInt(this.a)+ parseInt(this.b)
      },  
      restar(){
        this.resultado= this.a-this.b
      },
      multiplicacion(){
        this.resultado=this.a*this.b
      },
      division(){
        this.resultado=this.a/this.b
      }                             

    }
});
app.mount('#app');
</script>

</body>
</html>