
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>
<body>    
  <div id="app" >
    <button @click="Margaritas">Cargar Margaritas</button>
    <ul>
      <li v-for="dataok in dataAPI">
        <h2 style="background-color:red">{{dataok.text}}</h2>
        
      </li>
    </ul>

    
  </div>

<script>
Vue.createApp({
    data() {
        return {         
          dataAPI:null
        };
    },    
    methods:{
        Margaritas(){         
          
          // Make a request for a user with a given ID
          axios.get('https://cat-fact.herokuapp.com/facts')
            .then(response => {
                        this.dataAPI = response.data;
            });
          
        }
    },
    mounted() {
       // Make a request for a user with a given ID
       axios.get('https://cat-fact.herokuapp.com/facts')
            .then(response => {
                        this.dataAPI = response.data;
            });
    },
}).mount('#app');
</script>

</body>
</html>
