<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    
    <div id="upds">
        
        
        <input type="text" v-model="a" >
        <br>
        <input type="text" v-model="b" >
        <br>
        <p >La suma es {{ parseInt(a)+parseInt(b) }} </p>

        <button @click="alerta">hola</button>
        
    </div>

    <script>
        const { createApp, ref } = Vue
        createApp({
            setup() {
            const a = ref("3")                        
            const b = ref("5")                        

                return {
                a,b
                } 
            },            
            methods: {
                alerta(){
                    alert("sdfsdf");
                }
            }            
        }).mount('#upds')

    </script>    
</body>
</html>