
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
</head>
<body>    
  <div id="app" >
  
    <div v-for="fruta in frutas" class="card" style="width: 18rem;">
      
      <div class="card-body">
        <h5 class="card-title">{{fruta.nombre}}</h5>
        <p class="card-text">Precio por unidad: Bs. {{ fruta.precio }}</p>
        Cantidad:<input type="number" class="form-control"  v-model="fruta.cantidad"> 
        <button type="button" @click="carrito(fruta)" class="btn btn-primary position-relative">
          Agregar: {{fruta.nombre}}
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{fruta.stock}}
            <span class="visually-hidden">unread messages</span>
          </span>          
        </button>
        
      </div>

      
    </div>
    {{bolsayute}}

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">cantidad</th>
          <th scope="col">precio</th>
          <th scope="col">total</th>
        </tr>
      </thead>
      <tbody>        

        <tr v-for="product in bolsayute">
          <th scope="row">1</th>
          <td>{{product.nombre}}</td>
          <td>{{product.cantidad}}</td>
          <td>{{product.precio}}</td>
          <td>{{product.cantidad*product.precio}}</td>
        </tr>       
      </tbody>
    </table>


  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

<script>
Vue.createApp({
    data() {
        return {         
          dataAPI:null,
          frutas: [
            {nombre: "Manzana",precio:3, cantidad:0, stock:100},
            {nombre: "Platano",precio:1.5, cantidad:0, stock:340},
            {nombre: "Mango",precio:2, cantidad:0, stock:560},
            {nombre: "Naranja",precio:1, cantidad:0, stock:160},
            {nombre: "Pomelo",precio:4, cantidad:0, stock:660},
          ],
          bolsayute:[],
        };
    },    
    methods:{
        carrito(producto){
          if (producto.cantidad <= producto.stock) {
            this.bolsayute.push(producto)
          }
          else{
            alert("cantidad excedida")
          }
        }
    },
}).mount('#app');
</script>

</body>
</html>
